# Python bytecode
*.pyc

# Logs
#*.log

# Virtualenv
venv/

# Build
#build/
#dist/
__pycache__/

# IDE
.vscode/
.idea/
data/LANG_8/__MACOSX/._lang-8-en-1.0
data/LANG_8/__MACOSX/lang-8-en-1.0/._entries.test
data/LANG_8/__MACOSX/lang-8-en-1.0/._entries.train
data/LANG_8/__MACOSX/lang-8-en-1.0/._how_to_ext_vp.txt
data/LANG_8/__MACOSX/lang-8-en-1.0/._README
data/LANG_8/__MACOSX/lang-8-en-1.0/._tense_asp.test
data/LANG_8/__MACOSX/lang-8-en-1.0/._tense_asp.train
data/LANG_8/lang-8-en-1.0/entries.test
data/LANG_8/lang-8-en-1.0/entries.train
data/LANG_8/lang-8-en-1.0/how_to_ext_vp.txt
data/LANG_8/lang-8-en-1.0/tense_asp.test
data/LANG_8/lang-8-en-1.0/tense_asp.train
